<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colorful.Console" version="1.2.9" targetFramework="net461" />
  <package id="Microsoft.Build" version="15.3.409" targetFramework="net461" />
  <package id="Microsoft.Build.Framework" version="15.3.409" targetFramework="net461" />
  <package id="Microsoft.Build.Utilities.Core" version="15.3.409" targetFramework="net461" />
  <package id="Microsoft.DotNet.Cli.Utils" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NuGet.Common" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Configuration" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.DependencyResolver.Core" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Frameworks" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.LibraryModel" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Packaging" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Packaging.Core" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.ProjectModel" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Protocol" version="4.3.0" targetFramework="net461" />
  <package id="NuGet.Versioning" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections" version="4.0.11" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net461" />
  <package id="System.Linq" version="4.1.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net461" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.0.11" targetFramework="net461" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net461" />
</packages>